@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Poppins',sans-serif;

}
body{
 background-color:#f4f4f4 ;
 color: rgb(24, 146, 71);
 display: flex;
 align-items: center;
 justify-content: center;
 height:100vh ;
}

.container{
    background-color: #fff;
    padding: 30 px;
    border-radius: 20 px;
    box-shadow: 0 10 px 30 px rgba(0,0,0,0.1);

}
.controls{
    margin-top: 30 px;
    text-align: center;
}
.select,
.input{
    padding: 8 px;
    margin-right: 10 px;
    border: 1 px solid #ddd;
    border-radius: 4 px;
    
}

.btn{
    padding: 8 px,15 px;
    border: none;
    background-color: #0a4b70;
    color: #fff;
    border-radius: 2 px;
    cursor: pointer;
    transition: all 0.3s ease;


}
.btn-hover{
   background-color: rgb(209, 155, 18);
    
}